[submodule "qemu"]
	path = qemu
	url = git@github.com:TwinVisor/qemu.git
[submodule "guest-linux"]
	path = guest-linux
	url = git@github.com:TwinVisor/guest-linux.git
[submodule "edk2"]
	path = edk2
	url = https://github.com/tianocore/edk2.git
[submodule "edk2-platforms"]
	path = edk2-platforms
	url = https://github.com/tianocore/edk2-platforms.git
[submodule "mbedtls"]
	path = mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "grub"]
	path = grub
	url = https://git.savannah.gnu.org/git/grub.git
[submodule "titanium"]
	path = titanium
	url = git@github.com:TwinVisor/titanium.git
[submodule "trusted-firmware-a"]
	path = trusted-firmware-a
	url = git@github.com:TwinVisor/trusted-firmware-a.git
[submodule "linux"]
	path = linux
	url = git@github.com:TwinVisor/linux.git
[submodule "build"]
	path = build
	url = git@github.com:TwinVisor/build.git
